<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <bean
            id="audioSystem"
            class="com.cooper.osgi.sampled.service.AudioSystem"
            >
    </bean>

    <service
            ref="audioSystem"
            interface="com.cooper.osgi.sampled.IAudioSystem"
            >
    </service>

</blueprint>
